@charset "utf-8";



.header {
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    
    @media (min-width:768px) {
        align-items: center;
    }

}

.head-top-link {
    font-size: 20px;
    font-weight: 900;
    width: fit-content;
    transition: .3s ease;
    position: relative;
}

.head-top-link::after {
    background-color: currentColor;
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.head-top-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.head-top-link p:hover {
    color: var(--accent-color);
}

.nav {
    width: fit-content;
    position: relative;
    margin-left: auto;
    z-index: 150;
    
    @media (min-width:768px) {
        margin-left: 0;
    }
}

.nav-toggle {
    display: none;
}

.nav-btn {
    display: block;
    position: relative;
    top: 0;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 101;

    @media (min-width:768px) {
        display: none;
    }
}

.nav-btn span {
    display: block;
    background-color: #000;
    position: absolute;
    top: 21px;
    left: 10px;
    right: 10px;
    width: 24px;
    height: 2px;
    transition: .25s ease;
}

.nav-btn span:nth-child(1) {
    top: 14px;
}

.nav-btn span:nth-child(2) {
    top: 21px;
}

.nav-btn span:nth-child(3) {
    top: 28px;
}

.nav-toggle:checked + .nav-btn span:nth-child(1) {
    top: 21px;
    transform: rotate(45deg);
}

.nav-toggle:checked + .nav-btn span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked + .nav-btn span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg);
}

.nav-overlay {
    background-color: var(--shadow-sub-color);
    position: fixed;
    inset: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .25s ease;
    pointer-events: none;
    z-index: 200;
}

.nav-toggle:checked ~ .nav-overlay {
    opacity: 1;
    pointer-events: auto;
}

.nav-list {
    background-color: var(--header-bg-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 50%;
    max-width: 420px;
    height: auto;
    top: var(--header-height);
    transform: scaleX(0);
    transform-origin: right;
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease;
    z-index: 400;

    @media (min-width:768px) {
        background-color: transparent;
        position: static;
        transform: none;
        opacity: 1;
        display: flex;
        flex-direction: row;
        pointer-events: auto;
        padding: 0;
        gap: 2rem;
    }
}

.nav-toggle:checked ~ .nav-list {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
    pointer-events: auto;
}

.nav-item {
    padding-bottom: 1rem;
    @media (min-width:768px) {
        padding: 0;
    }
}

.nav-item:last-child {
    padding-bottom: 0;
}

.nav-link {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    width: fit-content;
}

.nav-link::after {
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}